/*------- reset ---------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, del, em, font, img, ins, q, s, samp, small, strong, sub, sup, tt, var, b, u, i, center,fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0 none; outline: 0;font-size: 100%;vertical-align: baseline;}
body {line-height: 1.5; }
table {border-collapse: separate;}
blockquote, q {quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

.clear{clear: both;}

/* font */
html{font:0.9em Helvetica,Verdana, Arial, sans-serif;color:#BEBEBE;}
/* bgcolor */
body{background-color: #e4e4e4;color:#000;}

/* link */
a { color:#0000ff; text-decoration:none; }
	a:hover { color:#804040;text-decoration:underline; }
	a:focus, input:focus {outline-style:none; outline-width:medium; }
	
#sideNav a { color:#FFF; text-decoration:none; }
	#sideNav a:hover { color:#FFCC66;text-decoration:underline; }
	#sideNav a:focus, input:focus {outline-style:none; outline-width:medium; }

/* box */
.outBorder {border: 1px solid #333;}
.inBorder {background-color: #E0E0E0;border: 1px solid #F9F9F9;padding: 15px 25px;}

input{padding:5px 8px;background-color: #272D3B;color:#E1F6B2;}
input[type="text"],input[type="password"]{background-color: #FFF;color:#000;border: 1px solid #003333;width:300px;}
textarea{background-color: #FFF;color:#000;border: 1px solid #003333;width:90%;height:400px;padding:5px;}
.smallTA{background-color: #FFF;color:#000;border: 1px solid #003333;width:70%;height:200px;padding:5px;}
.hide{display: none;}
/*layout*/
/*#wrapper{margin:0 auto;width:960px;}*/
/* #header{background:url("../imgs/homepage01.jpg") no-repeat scroll left top transparent;height:145px;width:778px;}*/
#header{ color:#FFF; height:100px;background-color: #272D3B;}
#header h1{ color:#FFF; padding:25px;font-size: 220%;font-weight:normal;}


#sideNav{width:180px;float:left;padding:10px;color:#BEBEBE;background-color: #101010;}
#mainContent{padding:10px 20px 0 220px;}
#mainContent p{padding:10px;}

#consoleLogin{width:400px;padding:20px;background-color: #272D3B;}
#consoleLogin p{padding:5px;}
#consoleLogin label{color:#e4e4e4;}
.tx_center{text-align:center;}

#rightTop{padding:5px;}
#f_search{display:inline;}
#list_search{width:250px;}
.tb_list{background-color: #fff;border-bottom: 1px solid #e4e4e4;}
.weight{font-weight: bold;}
.orangeBold{color:#ff8040;font-weight: bold;}
#centerMain{padding:20px;margin:0 auto;width:600px;}

#footer{background-color: #1A1A1A; height:76px;}
#copyright{text-align:center;color:#E8E8E8;padding:20px}

#paraName,#paraValue{width:100px;}
.paraOneName{font-weight: bold;}
.paraOneValue{color:blue;font-weight: bold;}
.re{background-color: #fbf9ea;border: 1px solid red;padding:20px;}
.hotEditInput{width:100px;}
