{
	"version":1,
	"updates":{
		"2010-11-20":"始建此文件",
		"2010-11-21":"可将datasource等分离成不同文件,由不同的类进行控制",
		"2010-11-24":"再多个actionIni,taskIni,dataSourceIni,daoIni属性即可在HTManager分别控制其配置文件位置"
	},
	"info":"更改此文件的配置后，请对发生变化的Action执行reload操作",
	"classPath": "f:/works/workspace_keel/KHunter/WebContent/WEB-INF/classes/",
	"iniPath": "f:/works/workspace_keel/KHunter/WebContent/WEB-INF/",
	"dataSources":{
		"mongodb_local":{
			"_dbType":"mongodb",
			"ip":"127.0.0.1",
			"port":27017,
			"dbName":"kht",
			"user":"sike_ht",
			"pwd":"jsinfo2901_A",
			"maxWaitTime":5000,
			"connectionsPerHost":50
		}
	},
	"daos":{
		"mongoUserDao":{
			"_class":"com.k99k.khunter.dao.MongoUserDao",
			"_dataSource":"mongodb_local",
			"dbType":"mongodb",
			"type":"single",
			"tableName":"testKHT",
			"id":2
		},
		"mongoDao":{
			"_class":"com.k99k.khunter.MongoDao",
			"_dataSource":"mongodb_local",
			"dbType":"mongodb",
			"type":"common",
			"tableName":"*",
			"id":1
		}
	
	},
	"tasks":{
		"taskMapInitSize":50000,
		"exePool":{
			"corePoolSize":10,
			"maximumPoolSize":200,
			"keepAliveTime":30000,
			"queueSize":150
		},
		"ratePoolSize":5,
		"scheduledPoolSize":10
	},
	"actions":[
		{
			"_actName":"testLogin",	
			"_class":"com.k99k.khunter.acts.LoginAction",
			"type":"normal",
			"id":152,
			"userDao#daos":"mongoUserDao"
		},
		{	
			"_actName":"testLog",	
			"_class":"com.k99k.khunter.acts.LogAction"
		},
		{	
			"_actName":"console",	
			"_class":"com.k99k.khunter.acts.ConsoleAction",
			"admin":[
				{"name":"keel","pwd":"6667441","level":1,"state":1,"info":"202.102.113.*"},
				{"name":"sike","pwd":"123456","level":2,"state":1,"info":"202.102.40.*"}
			]
		},
		{
			"_actName":"wbUser",	
			"_class":"com.k99k.wb.acts.WBUser"
		},
		{
			"_actName":"*",	
			"_class":"com.k99k.wb.acts.WBUrl"
		},
		{
			"_actName":"login",	
			"_class":"com.k99k.wb.acts.WBLogin"
		},
		{
			"_actName":"reg",	
			"_class":"com.k99k.wb.acts.WBReg"
		}
	],
	"actionsInfo":"以_开头的key不会作为Action属性应用在setProp中。_actName为action的唯一名,对应到url和ActionManager的map中;_actName为*表示为默认Action,匹配所有无法匹配到actName的请求;actions作为数组将按配置中的顺序载入;",
	"io":{
		"emails":{
			"server":"202.102.111.111"
		}
		
			
	}


}
