{
	"version":1,
	"updates":{
		"2010-11-20":"始建此文件",
		"2010-11-21":"可将datasource等分离成不同文件,由不同的类进行控制"
	},
	"info":"更改此文件的配置后，请对发生变化的Action执行reload操作",
	"classPath": "f:/works/workspace_keel/KHunter/WebContent/WEB-INF/classes/",
	"iniPath": "f:/works/workspace_keel/KHunter/WebContent/WEB-INF/kconfig.json",
	"dataSources":{
		"mongodb_local":{
			"_dbType":"mongodb",
			"ip":"127.0.0.1",
			"port":27017,
			"dbName":"kht",
			"user":"sike_ht",
			"pwd":"jsinfo2901_A",
			"maxWaitTime":5000,
			"connectionsPerHost":50
		}
	},
	"daos":{
		"mongoUserDao":{
			"_class":"com.k99k.khunter.MongoUserDao",
			"_dataSource":"mongodb_local",
			"dbType":"mongodb",
			"type":"single",
			"tableName":"testKHT",
			"id":2433
		}
	
	},
	"taskThreads":{
		"a1":{
			"level":1,
			"sleep":100
		},
		"a2":{
			"level":1,
			"sleep":100
		},
		"b1":{
			"level":2,
			"sleep":5000
		},
		"c1":{
			"level":3,
			"sleep":300000
		}			
	},
	"tasks":{
		"syn":{
			"_class":"com.k99k.khunter.Task",
			"thread#taskThreads":"a1"
		}

	},
	"actions":{
		"login":{	
			"_class":"com.k99k.khunter.HTLoginAction",
			"type":"normal",
			"id":152,
			"userDao#daos":"mongoUserDao"
		}
	
	},
	"io":{
		"email":{
			
		}
		
			
	}


}