<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>KHunter</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ActionServ</display-name>
    <servlet-name>ActionServ</servlet-name>
    <servlet-class>com.k99k.khunter.ActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActionServ</servlet-name>
    <url-pattern>/ActionServ</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>KFilter</display-name>
    <filter-name>KFilter</filter-name>
    <filter-class>com.k99k.khunter.KFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>KFilter</filter-name>
    <url-pattern>/KFilter</url-pattern>
  </filter-mapping>
</web-app>